{% extends "app/layout.html" %}
{%block style%} {%endblock%}
{% block content %}

<h2 class="form-title">{{ title }}</h2>
<div class="content-block">
    <h2>Ресурсы по фитнесу:</h2>
    <ul>
        <li>
            <h3>Отличный ресурс для тренировок и диет:</h3>
            <a href="https://www.bodybuilding.com/">Bodybuilding.com</a>
        </li>
        <li>
            <h3>Приложение для отслеживания питания и физической активности:</h3>
            <a href="https://www.myfitnesspal.com/">MyFitnessPal</a>
        </li>
        <li>
            <h3>Статьи и советы по фитнесу и здоровью:</h3>
            <a href="https://www.verywellfit.com/">Verywell Fit</a>
        </li>
    </ul>
</div>

{% endblock %}